{% extends 'base.html' %}

{% block content %}
<div class="container p-3">
  <h1 class="text-center">My Favorites</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for book in favorites %}
    <div class="col">
      <div class="card mb-3" style="max-width: 600px">
        <div class="row g-0">
          <div class="col-4">
            <img src="{{url_for('static', filename='uploads/covers/' + book.cover)}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body favor-card">
                <a href="{{url_for('home.book', id=book.id)}}" style="text-decoration: none;">
                  <h5 class="card-title">{{book.title}}</h5>
                </a>
                <p class="card-text"><small class="text-muted">{{book.author}}</small></p>
                <a href="{{url_for('home.unlike', id=book.id)}}" class="btn btn-danger">Unlike</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock%}