{% extends 'admin.html' %}
{% from "_helpers.html" import render_field %}
{% from "_helpers.html" import render_label %}
{% block data %}
<h1>{{operation}}</h1>
<div class="content-main">
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="module d-flex flex-column">
      <div class="row align-items-center">
        <div class="col-3">
          {{ render_label(form.name)}}
        </div>
        <div class="col-4">
          {{ render_field(form.name) }}
        </div>
      </div> 
      <div class="row align-items-center">
        <div class="col-3">
          {{ render_label(form.photo)}}
        </div>
        <div class="col-5">
          {% if form.photo.data %}
          <p class="url">
            Currently:
            <a href="{{url_for('static', filename=form.photo.data)}}">{{url_for('static', filename=form.photo.data)}}</a> 
          </p>
          {% endif %}
          {{ render_field(form.photo) }}
        </div>
      </div> 
      <div class="row">
        <div class="col-3">
          {{ render_label(form.desc)}}
        </div>
        <div class="col-8">
          {{ render_field(form.desc) }}
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          {{ form.submit(class="btn btn-primary mt-2") }}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock%}