{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
      <img src="{{url_for('static', filename=photo)}}" class="img-fluid rounded-circle">
    </div>
    <div class="col-sm-9">
      <h1>{{name}}</h1>
      <h5>{{desc}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for book in books %} 
        <div class="col">
          <div class="card py-4 px-4">
            <img src="{{url_for('static', filename='uploads/covers/' + book.cover)}}" class="card-img-top" alt="{{book.title}}">
              <a href="{{url_for('home.book', id=book.id)}}">
                <h3>{{book.title}}</h3>
              </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- <div class="sidenav col-3 px-3 pb-3">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        {% for category in categories %}
          <a href="{{url_for('home.filter', id=book.category.id)}}" class="btn btn-secondary">{{category.category_name}}</a>
        {% endfor %}
      </div>
    </div>  -->
  </div>
</div>
{% endblock%}