* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
}

.page {
  background-color: #FFF;
  min-height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #DDD;
  background-color: #3D424E;
  color: white;
}

.sidebar > h4 {
  background-color: #323640;
}

.sidebar > h4::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 80px;
  height: 2px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.sidebar > h4::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 50%;
  bottom: 3px;
  border: 2px solid #323640;
  transform: translate(-50%);
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 5px;
  color: white;
  background-color: #3D424E;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #323640;
  border-left: 5px solid #0279B8;
}

@media (max-width: 767px) {
  .sidebar {
    width: 62px;
  }

  .sidebar > h4 {
    display: none;
  }

  .sidebar > h4::before,
  .sidebar > h4::after {
    display: none;
  }

  .sidebar ul li a {
    text-align: center;
    justify-content: center;
  }
  
  .sidebar ul li a span {
    display: none;
  }
}

.p-relative {
  position: relative;
}

.content {
  padding: 20px 40px;
}

h1 {
  margin: 0 0 20px;
  font-weight: 300;
  font-size: 1.25rem;
}

.module .row {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.form-control {
  border: 1px solid #bbb;
}

textarea {
  min-height: 150px !important;
}

.url {
  line-height: 20px;
  margin: 0;
  padding: 0;
  font-size: 0.6875rem;
  font-weight: bold;
}

img {
  border-radius: 4px;
  padding: 5px;
  height: 200px;
  width: 200px;
}