{% extends 'base.html' %}
{% block nav %}
{% endblock nav %}

{% block content %}
<div class="page d-flex">
  <div class="sidebar p-relative">
    <h4 class="p-relative text-center pb-4 pt-3 mt-0">Adminstration</h4>
    <ul>
      <!-- <li>
        <a class="active d-flex align-items-center fs-6 p-2 sidebar-link" href="{{url_for('admin.dash')}}">
          <i class="bi bi-speedometer2"></i>
          <span class="ms-2">Dashboard</span>
        </a>
      </li> -->
      <li>
        <a class="d-flex align-items-center fs-6 p-2 sidebar-link" href="{{url_for('admin.readusers')}}">
          <i class="bi bi-people"></i>
          <span class="ms-2">Users</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center fs-6 p-2 sidebar-link" href="{{url_for('book.readbooks')}}">
          <i class="bi bi-book"></i>
          <span class="ms-2">Books</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center fs-6 p-2 sidebar-link" href="{{url_for('category.read_categories')}}">
          <i class="bi bi-tags"></i>
          <span class="ms-2">Categories</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center fs-6 p-2 sidebar-link" href="{{url_for('author.read_authors')}}">
          <i class="bi bi-pen"></i>
          <span class="ms-2">Authors</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="content w-100">
  {% block data %}  
  {% endblock data %}
  </div>
</div>
{% endblock content %}