{% extends 'admin.html' %}

{% block data %}
<div class="d-flex flex-column">
  <div class="row align-items-center justify-content-end">
    <div class="col-2">
      <a href="{{url_for('admin.addbook')}}" class="btn btn-primary mt-2">
        <i class="bi bi-plus-lg"></i> Add Book
      </a>
    </div>
  </div>
</div>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Book Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">
        {{book.id}}
      </th>
      <td scope="row">
        <a href="{{url_for('admin.changebook', id=book.id)}}">
          {{book.title}}
        </a>
      </td>
      <td scope="row">
        <a href="{{url_for('admin.deletebook', id=book.id)}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock data %}