{% extends 'base.html' %}

{% block content %}
<style>
  .card a:hover{
    opacity: .8;
  }
</style>
<br>
<div class="container p-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for book in books %} 
    <div class="col">
      <div class="card py-4 px-4">
        <img src="{{url_for('static', filename='uploads/covers/' + book.cover)}}" class="card-img-top" alt="{{book.title}}">
          <a href="{{url_for('home.book', id=book.id)}}">
            <h3>{{book.title}}</h3>
          </a>
        <span>
          <p>
            {{book.author}}
          </p>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}